<% for post in @posts do %>
	$('.posts').append("<li><%= j render(post) %></li>");
<% end %>

<% if @posts.next_page %>
$('.pagination').replaceWith('<%= j will_paginate(@posts) %>');
<% else %>
$('.pagination').remove();
<% end %>