body {
	color: $text-color;
	background: $light-bg-color;
	font-family: helvetica, sans;
	font-size: 16px;
	margin: 0;
}

h1, h2, h3, h4, p {
	line-height: 1em;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

.container {
	//background: $light-bg-color;
	overflow: auto;
	padding: 0 0.5em;
}

h1 {
	font-weight: normal;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h1 a {
	text-decoration: none;
	color: $text-color;

	&:hover {
		color: $link-color;
	}
}

@mixin alert($color) {
	background: $color;
	$border: 0.1em dotted darken($color, 20);
	border-top: $border;
	border-bottom: $border;
}

.alert {
	font-size: 1.2em;
	padding: 1em;
}

.alert-notice {
	@include alert(mediumturquoise)
}

.alert-warning {
	@include alert(pink);
}

.alert-success {
	@include alert(springgreen);
}

#actions {
	font-size: 1.3em;
	background: #222;
	color: white;
	padding: 0.4em;
	padding-right: 0.6em;
	padding-bottom: 0.3em;
	box-shadow: 0 0 0.3em black;
	border-top-right-radius: 1em;

	a {
		color: white;
		text-decoration: none;
	}
}
