body {
	color: $cText;
	background: $cBgLight;
	font-family: helvetica, sans;
	font-size: 16px;
	margin: 0;
	overflow: auto;
}

*::selection {
	background: salmon;
	color: black;
}

h1, h2, h3, h4, p {line-height: 1em;}
h1 {font-size: 3em;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em;}

a {
	color: goldenrod;
	&:hover {
		color: darkcyan;
	}
}

.container {
	overflow: auto;
	padding: 0;
	padding-bottom: 3em;
}

h1 {
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0.5em;
}

h1 a {
	text-decoration: none;
	color: $cText;

	&:hover {
		color: $cLinkHover;
	}
}

@mixin alert($color) {
	background: $color;
	$border: 0.1em dotted darken($color, 20);
	border-top: $border;
	border-bottom: $border;
}

.alert {
	font-size: 1.2em;
	padding: 1em;
	margin-bottom: 2em;
}

.alert-notice {
	@include alert(mediumturquoise)
}

.alert-warning {
	@include alert(pink);
}

.alert-success {
	@include alert(springgreen);
}

img {
	width: 100%;
}

.button {
	display: inline-block;
	color: white;
	background: #333;
	box-shadow: 0.1em 0.1em 0.3em #333;
	padding: 0.5em;
	text-decoration: none;

	&:hover {
		background: lighten(black, 10);
		background: $cLinkHover;
		color: white;
	}
}

#actions {
	font-size: 1.3em;
	background: #222;
	color: white;
	padding: 0.4em;
	padding-right: 0.6em;
	padding-bottom: 0.2em;
	box-shadow: 0 0 0.3em black;
	border-top-right-radius: 1em;

	a {
		color: white;
		text-decoration: none;
		padding-right: 0.5em;
		padding-left: 0.5em;
		border-right: 1px solid white;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
			border-right: none;
		}
		&:hover {
			color: $cLinkHover;
		}
	}
}
