header {
	overflow: hidden;
	text-align: center;

	$top-banner-size: 6em;

	div#background {
		background: $dark-bg-color;
		height: $top-banner-size;
	}

	$portrait_size: $top-banner-size*1.3;
	a#portrait {
		position: relative;
		display: block;
		width: $portrait_size;
		height: $portrait_size;
		border-radius: ($portrait_size/2);
		background: orange;
		margin: 0 auto;
		margin-top: -($portrait_size/2);

		&:hover {
			background: lighten(orange, 10);
		}
	}

	h1, h2 {
		background: $light-bg-color;
		margin: 0;
	}

	h1, h2, h3, h4 {
		font-weight: normal;
	}

	#pre {
		clear: both;
		padding-top: 1em;
		font-size: 3em;
	}

	#title {
		font-size: 4em;
	}

	#name {
		font-size: 2.5em;
		padding-top: 0.2em;
		padding-bottom: 2em;

		&:before {
			content: "("
		}
		&:after {
			content: ")"
		}
	}
}
