// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search {
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-bottom: 2em;
}
.search-box {
	box-sizing: border-box;
	font-size: 2.5em;
	width: 100%;
	border-radius: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	background: #f8f8f8;
	color: #ccc;
	border: none;
	outline: none;

	&:focus {
		background: white;
		color: $text-color;
	}
	&:hover {
		background: white;
	}
}

.posts {
	list-style-type: none;
	margin-top: 0;

	li {
		display: block;
		margin-bottom: 3em;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.post {
	overflow: hidden;
	padding-left: 0.5em;
	padding-right: 0.5em;

	h1 {
		margin-top: 0.2em;
	}
}

.unpublished {
	background: white;
	font-family: monospace;
}

.edit_post, .new_post {
	label {
		font-size: 3em;
		line-height: 1em;
	}

	.field, .actions{
		width: 90%;
		margin: 0 auto;
		padding-bottom: 2em;

		textarea, .textareaClone {
			width: 100%;
			line-height: 1em;

			background: white;
			border: none;
			resize: none;

			white-space: pre-wrap;
			word-wrap: break-word;
			overflow: hidden;
		}
	}

	.field.title {
		textarea, .textareaClone {
			font-size: 2em;
			min-height: 2em;
		}
	}
	.field.body {
		textarea, .textareaClone {
			font-size: 1em;
			min-height: 10em;
		}
	}

}