// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts {
	list-style-type: none;
	margin-top: 0;

	li {
		display: block;
		margin-bottom: 3em;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.post {
	overflow: hidden;
	padding-left: 0.5em;
	padding-right: 0.5em;

	h1 {
		margin-top: 0.2em;
	}
}

.unpublished {
	background: white;
	font-family: monospace;
}

.edit_post, .new_post {
	label {
		font-size: 3em;
		line-height: 1em;
	}

	.field, .actions{
		width: 90%;
		margin: 0 auto;
		padding-bottom: 2em;

		textarea {
			background: white;
			border: none;
			font-size: 1em;
			line-height: 1em;
			width: 100%;
			overflow: hidden;
			resize: none;
			min-height: 10em;
		}

		textarea.title {
			font-size: 2em;
			min-height: 2em;
		}
	}
}